$color-blue: #29b1cc;
$color-bottom-fade: rgb(28, 123, 114);
$color-nav-footer-bg: #29b1cc;
$color-white: rgb(255,255,255);
$color-input-bg: rgb(235,235,235);
$color-text-body: rgb(0, 0, 0);
$color-nav-text: rgb(0, 0, 0);
$color-input-text: rgb(0, 0, 0);
$font-family: 'Merriweather Sans', sans-serif;
