$color-blue: #29b1cc;
$color-bottom-fade: rgba(238, 237, 66, 0.53);
$color-nav-footer-bg: #29b1cc;
$color-white: rgb(255,255,255);
$color-input-bg: rgb(235,235,235);
$color-text-body: rgb(112,112,112);
$color-nav-text: rgb(214,214,214);
$color-input-text: rgb(161,161,161);

$font-family: 'Merriweather Sans', sans-serif;
