body {
  background-image: url("../images/back.jpg");
  /* Background image is centered vertically and horizontally at all times */
  background-position:  center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;

  /* Set the page font */
  font-family: "Capriola", sans-serif;

  /* overflow:hidden; */
}

/* Horizontally center elements */
.hori-center {
  margin-left:auto;
  margin-right:auto;
}

/* Vertically align values */
.vert-align{
  display:flex;
  align-items:center;
}

/* Hide an element */
.hide {
  display:none;
}

.brand-logo{
  margin-left: 10px;
}

.logo{
  margin-top: 20%;
}

.login-icon{
  margin-top: 25px;
  margin-bottom: 0px;
}

.container{
  width:100%;
  margin-bottom:30px;
}

#left-split, #right-split{
    margin-top: 0%;
    margin-bottom: 0%;
}

/* For login section, apply below style left side*/
#left-split{
  background-color: rgba(200, 200, 200, 0.3);
}

#left-split hr{
  width: 90%;
}

/* For login section, apply below style to right side */

#right-split{
    float: left;
    clear: none;
}

/* NavBar */
.navbar, nav{
	background-color: #29b1cc;
}

/* Groups page */
#createGroupPage{
  display: none;
}

.groups-btn{
  width:50%;
}

.groups{
  margin-top: 30px;
}

/* Input */
.input-field{
  margin:20px 40px 20px 40px;
}

.input-field>label{
  color: black;
}

/*  Buttons */
.search-btn{
  /*margin-bottom:30px;*/
  margin:0px 20px 0px 30px;
}

button {
  padding: 1em 3em;
  border-radius: 0px;
  font-weight: bold;
  border: none;
  outline: none;
  border: 2px solid #29b1cc;
}

.button {
  padding: 1em 3em;
  border-radius: 0px;
  font-weight: bold;
  border: none;
  outline: none;
  border: 2px solid #29b1cc;
  color:black;

}

.button button:hover{
  background-color: #29b1cc;
  color: #fff;
}

input[type=button]:hover{
  background-color: #29b1cc;
  color: #fff;
}

.btn-login, .btn-create{
  width: 84%;
  margin: 0px 40px 0px 40px
}

.btn-forgot{
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

/* Messages */

/* Message Board */
.message-board{
  width:500px;
  min-width:390px;
  height:510px;
  background:#fff;
  padding:25px;
  margin:20px auto;
  box-shadow:0 3px #ccc;
}

.message-form{
  margin-top:20px;
}

h4{
  margin:-10px auto 0px auto;
}

/* Text area and button for sending message */
/* .chat-form{
  margin-top:20px;
  display:flex;
  align-items:flex-start;
} */

/* .message-text{
  background:#fbfbfb;
  width:75%;
  height:50px;
  border: 2px solid #eee;
  border-radius:3px;
  resize:none;
  padding:10px;
  font-size:18px;
  color:#333;
} */

/* .chat-form textarea:focus{
  background:#fff;
} */

/* .button-mes{
  background:#1ddced;
  padding:5px 15px;
  font-size:30px;
  color:#fff;
  border:none;
  margin:0 10px;
  border-radius:3px;
  box-shadow:0 3px 0 #0eb2c1;
  cursor:pointer;

  -webkit-transition:background .2s ease;
  -moz-transition:background .2s ease;
  -o-transition:background .2s ease;
} */

/* .chat-form button:hover{
  background:#13c8d9;
} */

.message-received{
  color: black;
  padding: 5px 10px 0px 10px;
}

.bubble-text{
  padding: 0px 10px 10px 10px;
  color: white;
}

.bubble-received {
	position: relative;
  margin-top: -10px;
	background: #29b1cc;
	border-radius: .4em;
}

.bubble-received:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 10%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #29b1cc;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

.bubble-sent {
	position: relative;
  margin-top: -10px;
	background: #ec407a;
	border-radius: .4em;
}

.bubble-sent:after {
  content: '';
	position: absolute;
	bottom: 0;
	right: 10%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #ec407a;
	border-bottom: 0;
	border-right: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

.message-text{
  color:black;
}

.message-h1{
  font-size:40px;
}

a:hover{
    color: white;
}


.adjust-margin{
  margin-bottom:0px;
}

th {
  background-color: #ec407a;
  color: white;
}

td {
  background-color: white;
}

tr:hover {
}

  th, td {
  padding: 15px;
  text-align: center;
}

.table-div{
    width:85%;
    height:200px;
    margin-left:auto;
    margin-right:auto;
    overflow:auto;
  }

  /* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* .about-us{
}

.align-left-about{
  float: left;
}

.align-right-about{
  float: right;
} */

.box{
  position: relative;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  margin-top: 0px;
  margin-bottom: 5px;
  padding-top:10px;
  padding-left: 10px;
  padding-right:10px;
  box-sizing:border-box;
  background:rgba(255,255,255,.9);
  border-radius: 4px;
  boz-shadow:0 5px 15px rgba(0,0,0,.5);
  display:flex;
  transition:.5s;
}
.space-top{
  margin-bottom:107px;
}
.box .imgBx{
  width:500px;
  flex: 0 0 150px;
}

/* .box .imgBx img{
  max-width:100%;
} */

.box .content{
}

.box .content h2{
  margin:0;
  padding-left: 0;
}

.aboutbanner{
  width:100%;
  height:auto;
}

.background-about{
  background-color:rgba(169, 169, 169, .2)
}

.container-img {
  position: relative;
  text-align: center;
  color: white;
}

/* Top right text */
.top-right {
  position:absolute;
  top: 90px;
  right: 245px;
}
