body {
  background-image: url("../images/back.jpg");
  /* Background image is centered vertically and horizontally at all times */
  background-position:  center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;

  /* Set the page font */
  font-family: "Capriola", sans-serif;

  /* overflow:hidden; */
}

/* Horizontally center elements */
.hori-center {
  margin-left:auto;
  margin-right:auto;
}

/* Vertically align values */
.vert-align{
  display:flex;
  align-items:center;
}

/* Hide an element */
.hide {
  display:none;
}

.brand-logo{
  margin-left: 10px;
}

.logo{
  margin-top: 20%;
}

.login-icon{
  margin-top: 25px;
  margin-bottom: 0px;
}

.container{
  width:100%;
  margin-bottom:30px;
}

#left-split, #right-split{
    margin-top: 0%;
    margin-bottom: 0%;
}

/* For login section, apply below style left side*/
#left-split{
  background-color: rgba(200, 200, 200, 0.3);
}

#left-split hr{
  width: 90%;
}

/* For login section, apply below style to right side */

#right-split{
    float: left;
    clear: none;
}

/* NavBar */
.navbar, nav{
	background-color: #29b1cc;
}

/* Groups page */
#createGroupPage{
  display: none;
}

.groups-btn{
  width:50%;
}

.groups{
  margin-top: 30px;
}

/* Input */
.input-field{
  /*margin:20px 40px 20px 40px;*/
}

.input-field>label{
  color: black;
}

/*  Buttons */
.search-btn{
  /*margin-bottom:30px;*/
  margin:0px 20px 0px 30px;
}

button {
  padding: 1em 3em;
  border-radius: 0px;
  font-weight: bold;
  border: none;
  outline: none;
  border: 2px solid #29b1cc;
}

.button {
  padding: 1em 3em;
  border-radius: 0px;
  font-weight: bold;
  border: none;
  outline: none;
  border: 2px solid #29b1cc;
  color:black;

}

.button button:hover{
  background-color: #29b1cc;
  color: #fff;
}

input[type=button]:hover{
  background-color: #29b1cc;
  color: #fff;
}

.btn-login, .btn-create{
  width: 97%;
  margin: 0px 0px 0px 0px
}

.btn-forgot{
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

/* Message Board */
.message-board{
  box-shadow: 5px 5px 5px grey;
  background:#fff;
  padding:50px;
  margin:20px auto;
}

div.message-board h4{
  margin-top: 10px;
}

.message-form{
  margin-top:10px;
  margin-bottom: -20px;
}

h4{
  margin:-10px auto 0px auto;
}

.message-received{
  color: black;
  padding: 5px 10px 0px 10px;
}

.bubble-text{
  padding: 0px 10px 10px 10px;
  color: white;
}

.bubble-received {
	position: relative;
  margin-top: -10px;
  margin-left: 12px;
	background: #29b1cc;
	border-radius: .4em;
}

.bubble-received:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 10%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #29b1cc;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

.bubble-sent {
	position: relative;
  margin-top: -10px;
  margin-right: 14px;
	background: #ec407a;
	border-radius: .4em;
}

.bubble-sent:after {
  content: '';
	position: absolute;
	bottom: 0;
	right: 10%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #ec407a;
	border-bottom: 0;
	border-right: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

.message-text{
  color:black;
}

.message-h1{
  font-size:40px;
}

a:hover{
    color: white;
}

.adjust-margin{
  margin-bottom:0px;
}

th {
  background-color: #ec407a;
  color: white;
}

td {
  background-color: white;
}

.table-div{
  width:85%;
  height:200px;
  margin-left:auto;
  margin-right:auto;
  overflow:auto;
}

div.table-div th,
div.table-div td{
  padding: 15px;
  text-align: center;
}

  /* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
.box{
  width: 1000px;
  padding: 60px 10px 60px 10px;
  background:rgba(255,255,255,.5);
  border-radius: 4px;
  box-shadow:0 5px 15px rgba(0,0,0,.5);
}
.box-header{
  width: 1000px;
  margin-top:20px;
  padding: 5px 10px 55px 10px;
  background:rgba(255,255,255,.5);
  border-radius: 4px;
  box-shadow:0 5px 15px rgba(0,0,0,.5);
}

.drop-shadow{
  box-shadow:0 5px 15px rgba(0,0,0,.5);
}
.box .imgBx{
  width:500px;
}

.box .content h2{
  margin:0;
  padding-left: 0;
}

.aboutbanner{
  width:100%;
  height:auto;
}

.container-img {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom:-5px;
}

/*Calendar*/
.calendar{
  box-shadow: 5px 5px 5px grey;
  margin:auto;
  margin-top: 20px;
  width:200px;
  height:auto;
}

table.calendar th,
table.calendar td{
  padding: 1px;
  text-align: center;
}
